/* font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -8px;
    width: 1920px;
    height: 1026px;
    overflow: hidden;
    margin-left: -25px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header__logo {
    width: 274px;
    height: 56px;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 46px;
    margin-left: 0;
}

.header__first {
    display: flex;
    position: relative;
}

.header__first::before {
    content: "";
    position: absolute;
    width: 1200px;
    height: 1px;
    background-color: #FFFFFF;
    top: 116px;
    background: #585763;
}

.header__menu ul {
    display: flex;
    margin-top: 68px;
    margin-left: 245px;
}

.header__menu li {
    list-style: none;
    color: #FFFFFF;
}

.header__menu li.active {
    position: relative;
}

.header__menu li.active::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background: #FF6B00;
    top: 45px;
}

.header__menu li a {
    text-decoration: none;
    color: #FFFFFF;
}

.header__menu li+li {
    margin-left: 79px;
}

.header__icon {
    width: 24px;
    height: 24px;
    margin-top: 65px;
    margin-left: 94px;
    display: flex;
}

.header__icon div {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #FF6B00;
    color: #FFFFFF;
    top: 55px;
    right: -7px;
}

.header__icon div span {
    position: absolute;
    width: 9px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    top: 2px;
    left: 5px;

}

.header__content-title {
    width: 729px;
    height: 272px;
    font-weight: 400;
    font-size: 42px;
    color: #FFFFFF;
    margin-top: 108px;
}

.header__content-title span {
    font-weight: 700;
    font-size: 42px;
    line-height: 69px;
    color: #FF6B00;
}

.form-content span,
.form-list span {
    display: block;
}

.header__content-form form {
    display: flex;
    margin-top: 60px;
    padding-left: 20px;
}

.form-list input {
    width: 390px;
    height: 66px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    padding-left: 20px;
}

.form-list span {
    color: #FFFFFF;
    margin-bottom: 17px;

}

.form-content span {
    color: #FFFFFF;
    margin-bottom: 17px;
}

.form-content input {
    width: 227px;
    height: 66px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    padding-left: 20px;
}

.header__content-form form button {
    width: 252px;
    height: 66px;
    background: #FF6B00;
    border-radius: 5px;
    margin-top: 35px;
    border: none;
    cursor: pointer;
}

.header__content-panel {
    display: flex;
    margin-top: 107px;
}

.panel__box+.panel__box {
    margin-left: 150px;
}

.panel__box img {
    display: block;
    margin-left: 120px;
    margin-bottom: 13px;
}

.panel__box {
    position: relative;
}

.panel__box::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 3px;
    background: #5F5C6B;
    top: 138px;
    left: -15px;
}

.panel__box div {
    width: 270px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

}

.header__content-form form button span {
    width: 116px;
    height: 15px;
    font-weight: 900;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.service__inner {
    margin-top: 177px;
    margin-bottom: 146px;
}

.service__box ul {
    display: flex;
    justify-content: space-between;
}

.service__box ul li span {
    display: block;
    text-align: center;
    width: 231px;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.service__box ul li img {
    margin-left: 75px;
}

.service__box ul li {
    list-style: none;
}

.service__inner-title {
    width: 567px;
    height: 62px;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #272639;
    margin-left: 318px;
    margin-bottom: 100px;
}

.about {
    background-color: rgba(58, 57, 74, 0.06);
}

.about__inner {
    display: flex;
    margin-bottom: 150px;
}

.about__info {
    width: 628px;
    margin-right: 94px;
    margin-top: 153px;
}

.about__image {
    margin-top: 92px;
    margin-bottom: 93px;
}

.about__info-title {
    width: 450px;
    height: 110px;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    color: #272639;
    margin-bottom: 14px;
}

.about__info-text {
    width: 628px;
    height: 75px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #272639;
}

.about__info-text span {
    font-weight: 700;
}

.about__info-btn button {
    width: 252px;
    height: 66px;
    background: #FF6B00;
    border-radius: 5px;
    border: none;
}

.about__info-btn span {
    width: 173px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

.suppliers .slick-initialized {
    padding-left: 0;
}

.suppliers {
    position: relative;
}

.suppliers__inner {
    margin-bottom: 150px;
}

.suppliers__title {
    width: 817px;
    height: 40px;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
    text-transform: uppercase;
    color: #272639;
    margin-left: 191px;
}

.suppliers__text {
    width: 613px;
    height: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
    margin-left: 293px;
    margin-top: 28px;
    margin-bottom: 70px;
}

.suppliers__slider {
    overflow: hidden;
    max-width: 1200px;
}

.suppliers__slider ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.transport {
    background-image: url(../images/transport-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 661px;
    width: 1925px;
    margin-left: -30px;
    margin-bottom: 150px;
}

.transport__inner {
    margin-bottom: 150px;
}

.transport__title {
    width: 645px;
    height: 118px;
    font-weight: 700;
    font-size: 42px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 147px;
    padding-bottom: 18px;
}

.transport__text {
    width: 610px;
    height: 70px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.transport__btn button {
    width: 252px;
    height: 66px;
    background: #FF6B00;
    border-radius: 5px;
    border: none;
    margin-top: 38px;
}

.transport__btn span {
    width: 173px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

.slick-track {
    width: 1920px;
    opacity: 1;
    transform: 0;
    display: flex;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #3A394A;
    width: 1903px;
    margin-left: -8px;
    overflow: hidden;
}

.footer__content {
    display: flex;
    position: relative;
}

.footer__content::before {
    content: "";
    position: absolute;
    width: 1200px;
    height: 1px;
    top: 316px;
    background-color: #585763;
}

.footer__logo {
    padding-top: 88px;
    width: 302px;
    height: 36px;
    font-weight: 700;
    font-size: 38px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.footer__menu-title {
    width: 48px;
    height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 180px;
    margin-top: 88px;
}

.footer__menu-list li {
    list-style: none;
    height: 35px;
}

.footer__menu-list li a {
    text-decoration: none;
    width: 113px;
    font-weight: 400;
    font-size: 14px;
    color: #CCCCD5;
}

.footer__menu-list ul {
    margin-left: 140px;
}

.footer__contacts {
    margin-top: 88px;
    margin-left: 160px;
}

.footer__contacts-title {
    width: 80px;
    height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;

}

.footer__contacts-street {
    width: 199px;
    height: 51px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCD5;
    margin-top: 17px;
}

.footer__contacts-phone {
    width: 109px;
    height: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #CCCCD5;
    margin-top: 30px;
}

.footer__contacts-email {
    width: 172px;
    height: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #CCCCD5;
    margin-top: 24px;
}

.footer__social {
    margin-top: 88px;
    margin-left: 150px;
}

.footer__social-title {
    width: 122px;
    height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
}

.footer__social-link {
    width: 40px;
    height: 40px;
    background-color: #3A394A;
    border: 1px solid #797983;
    border-radius: 50%;
    position: relative;
    margin-top: 15px;
}

.footer__social-link img {
    position: absolute;
    top: 10px;
    left: 10px;
}

.footer__end {
    margin-top: 31px;
    width: 322px;
    height: 13px;
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
    margin-left: 450px;
    padding-bottom: 35px;
}

.header__order {
    margin-top: -8px;
    width: 1920px;
    height: 144px;
    background: #212031;
    opacity: 0.9;
    width: 1903px;
    overflow: hidden;
    margin-left: -8px;
    margin-bottom: 150px;
}

.header__order-inner {
    display: flex;

}

.header__order-inner .header__icon div {
    top: 54px;
    right: 347px;
}

.order {
    margin-bottom: 150px;
}

.order__menu::before {
    content: "";
    position: absolute;
    width: 1200px;
    height: 1px;
    background-color: #FFFFFF;
    top: 116px;
    background: #585763;
    left: 360px;
}

.order__inner {
    margin-left: 150px;
}

.order__box-title {
    width: 401px;
    height: 62px;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #000000;
    margin-left: 220px;
}

.order__box-text {
    width: 742px;
    height: 88px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-left: 60px;
}

.order__social-text {
    width: 826px;
    height: 30px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-left: 20px;
}


.order__box-img {
    margin-left: 360px;
}

.order__social-link {
    margin-top: 24px;
}

.order__social-link ul {
    display: flex;
    margin-left: 315px;
}

.order__social-link li {
    list-style: none;
}

.header__order hr {
    margin-top: 12px;
    height: -1px;
    background-color: #585763;
}

.contacts {
    margin-bottom: 65px;
}

.contacts__box {
    display: flex;
}

.contacts__info {
    width: 350px;
}

.contacts__form {
    width: 741px;
}

.contacts__title {
    width: 213px;
    height: 40px;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 54px;
}

.contacts__info-email img,
.contacts__info-map img,
.contacts__info-phone img {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 25px;
}

.contacts__info-map {
    width: 326px;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: flex;
}

.contacts__info-phone {
    width: 163px;
    height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    margin-top: 5px;
    display: flex;
}

.contacts__info-email {
    width: 150px;
    height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    margin-top: 31px;
    display: flex;
}

.contacts__info-message {
    margin-top: 56px;
    margin-bottom: 52px;
}

.contacts__info-message--title {
    width: 121px;
    height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.contacts__info-message ul {
    display: flex;
    padding-left: 0;
}

.contacts__info-message li {
    list-style: none;
}

.contacts__info-social--title {
    width: 123px;
    height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px;
}

.contacts__form {
    width: 741px;
    height: 504px;
    background: #FAFAFA;
    border-radius: 10px;
}

.contacts__form-title {
    width: 180px;
    height: 23px;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    color: #000000;
    padding-top: 44px;
    padding-left: 38px;
    margin-bottom: 45px;
}

.contacts__form-box {
    padding-left: 38px;
    display: flex;
}

.contacts__form-box div {
    width: 97px;
    height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 23px;
}

.contacts__form-first input {
    width: 285px;
    height: 66px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding-left: 35px;
}

.contacts__form-first,
.contacts__form-end {
    margin-top: -35px;
}

.contacts__form-end {
    margin-left: 15px;
}

.contacts__form-end input {
    display: block;
    max-width: 300px;
    width: 100%;
    height: 190px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.contacts__form-end input {
    padding-left: 35px;
}

.contacts__form-end button {
    width: 325px;
    height: 66px;
    background: #FF6B00;
    border-radius: 5px;
    border: none;
    margin-top: 53px;
}

.contacts__form-end span {
    width: 105px;
    height: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.basket {
    margin-bottom: 69px;
}

.basket__title {
    width: 187px;
    height: 40px;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
    color: #000000;
    margin-top: -100px;
}

.basket__product {
    width: 45px;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #7B7B7B;
    margin-left: 35px;
    margin-right: 370px;
}

.basket__price-name {
    width: 45px;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #7B7B7B;
    margin-right: 80px;
}

.basket__total {
    width: 45px;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #7B7B7B;
}

.basket__price {
    display: flex;
    margin-top: 47px;
    margin-bottom: 19px;
}

.basket__info li {
    display: flex;
    width: 791px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
}

.basket__info-name {
    width: 208px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding-top: 37px;
    margin-right: 89px;
}

.basket__info-name p {
    width: 52px;
    height: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #646464;
    display: inline-block;
}

.basket__info-name span {
    width: 58px;
    height: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    text-align: right;
    color: #000000;

}

.basket__info img {
    padding-left: 13px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-right: 28px;
}

.basket__info-price {
    padding-top: 47px;
    margin-right: 48px;
}

.basket__info-total {
    padding-top: 47px;
    margin-right: 66px;
}

.trash {
    padding-top: 35px;
}

.basket__info li+li {
    margin-top: 10px;
}

.basket__box {
    margin-left: -45px;
    display: flex;
}

.basket__form {
    margin-left: 22px;
    width: 387px;
    height: 731px;
    background: #FAFAFA;
    border-radius: 5px;
}

.basket__form .basket__form-title {
    width: 206px;
    height: 23px;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    color: #000000;
    padding-left: 31px;
    padding-top: 44px;
}

.basket__form div {
    width: 33px;
    height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    margin-top: 37px;
    padding-left: 31px;
    margin-bottom: 15px;
}

.basket__form input {
    padding-left: 31px;
    margin-left: 31px;
    display: block;
    max-width: 290px;
    width: 100%;
    height: 66px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.basket__form button {
    margin-left: 31px;
    width: 325px;
    height: 59px;
    background: #FF6B00;
    border-radius: 5px;
    border: none;
    margin-top: 23px;
}

.basket__form button span {
    width: 163px;
    height: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__order .media__menu {
    margin-right: 50px;
}

.media__menu {
    margin-top: 30px;
    margin-left: 12px;
    display: none;
}

.media__menu-line {
    height: 2px;
    width: 20px;
    background-color: #FFFFFF;
}

.media__menu-line+.media__menu-line {
    margin-top: 5px;
}

.close {
    display: none;
    position: absolute;
    left: 300px;
    top: 170px;
}

.reviews__inner {
    margin-bottom: 150px;
}

.reviews__title {
    width: 817px;
    height: 40px;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
    text-transform: uppercase;
    color: #272639;
    margin-left: 320px;
    margin-bottom: 80px;
}

.reviews__slider {
    overflow: hidden;
    max-width: 1200px;
}

.reviews__slider ul {
    list-style: none;
    display: flex;
}

.reviews__slider ul {
    margin-left: 0px;
}

.reviews__slider ul li img {
    margin-left: 50px;
}

.reviews__slider-name {
    width: 122px;
    height: 17px;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #272639;
    text-align: center;
    margin-top: 37px;
    margin-left: 55px;
    margin-bottom: 15px;
}

.reviews__slider-company {
    width: 70px;
    height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #7D7D91;
    text-align: center;
    margin-left: 80px;
    margin-bottom: 15px;
}

.reviews__slider-text {
    width: 245px;
    height: 125px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #272639;
}


.reviews__slider li+li {
    margin-left: 0px;
}

.reviews_slide-5 {
    margin-top: 50px;
}

.reviews_slide-3 {
    margin-top: 25px;
}

.reviews .slick-track {
    width: 600px;
}

.paginator {
    position: relative;
    float: right;
    margin-bottom: 20px;
}


.paginator li {
    margin-top: 20px;
    position: relative;
    float: left;
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

.prev,
.next {
    background: rgba(58, 57, 74, 0.19);
    border-radius: 3px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
}

.prev img,
.next img {
    width: 10px;
}

.prev {
    position: absolute;
    top: 190px;
    left: 275px;
}

.next {
    background: #3A394A;
    position: absolute;
    right: 250px;
    top: 185px;
}


.prev-arrow,
.next-arrow {
    width: 56px !important;
    height: 56px;
    background: rgba(58, 57, 74, 0.19);
    border-radius: 3px;
}

.prev-arrow {
    position: absolute;
    top: -200px;
    left: -500px;
}

.next-arrow {
    background: #3A394A;
    position: absolute;
    top: -200px;
    right: -430px;
}

.slick-initialized {
    padding-left: 75px;
}

.arrow {
    margin-top: 19px;
    margin-left: 23px !important;
}

.burger__menu ul {
    margin-top: -8px;
    padding-top: 75px;
    margin-left: -10px;
}

.burger__menu {
    width: 290px;
    height: 309px;
    background: #FFFFFF;
    margin-left: -8px;
    display: none;
}

.burger__menu.active {
    display: block;
    position: absolute;
}

.burger__menu img {
    position: absolute;
    top: 30px;
    left: 35px;
}

.burger__menu li {
    list-style: none;
}

.burger__menu li+li {
    margin-top: 24px;
}

.burger__menu li a {
    text-decoration: none;
    width: 88px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    font-weight: 700;
}

.paginator-center-two .slick-initialized {
    padding-left: 500px;
}

@media (max-width: 360px) {
    .order .container {
        margin: 0;
    }

    .header__order .media__menu {
        margin-right: 0;
        display: block;
    }

    .container {
        width: 350px;
    }

    .reviews__inner {
        margin-bottom: 50px;
    }

    .transport .container {
        width: 350px;

    }

    .reviews .container {
        width: 350px;
    }

    .slick-initialized {
        padding-left: 55px;
    }

    .next-arrow {
        background: #3A394A;
        position: absolute;
        top: -40px;
        right: 9870px;
    }

    .prev-arrow {
        top: -40px;
        left: -390px;
    }

    .reviews__title {
        margin-left: 0;
        width: 340px;
        height: 62px;
        font-weight: 700;
        font-size: 32px;
        line-height: 31px;
        text-align: center;
        text-transform: uppercase;
        color: #272639;
        margin-bottom: 30px;
    }

    .reviews .container {
        margin: 0;
    }

    .suppliers__text {
        margin-left: 0px;
        margin-top: 28px;
        margin-bottom: 50px;
        width: 340px;
        height: 44px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #000000;

    }

    .suppliers__title {
        margin-left: 0px;
        width: 325px;
        height: 120px;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        color: #272639;

    }

    .suppliers .container {
        margin: 0;
        width: 360px;
    }

    .paginator-center {
        display: none;
    }

    .header__first .media__menu {
        margin-left: 25px;

    }

    .panel__box::before {
        display: none;
    }

    .panel__box+.panel__box {
        margin-left: 0;
        margin-top: 70px;
    }

    .header__content-panel {
        margin-top: 20px;
        margin-left: 45px;
    }

    .header__first::before {
        display: none;
    }

    .header__content-form form {
        margin-top: 30px;
    }

    .form-list span,
    .form-content span {
        margin-left: 5px;
        margin-top: 10px;
    }

    .form-content input,
    .form-list input {
        width: 310px;
        margin-left: 3px;
    }

    .header__content-form form button {
        width: 330px;
        margin-left: 3px;
    }

    .header__content-title span {
        font-weight: 700;
        font-size: 33px;
        line-height: 32px;
        align-items: center;
    }

    .header__content-title {
        width: 331px;
        height: 264px;
        font-weight: 400;
        font-size: 32px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 20px;
        margin-left: 23px;
    }

    .header__first .header__logo {
        margin-left: 45px;
        margin-right: 45px;
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
        width: 187px;

    }

    .header {
        width: 360px;
        height: 1300px;
    }

    .header .container {
        margin: 0;
    }

    .header__content-panel {
        display: block;
    }

    .header__content-form form {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .transport__btn button {
        width: 345px;
        margin-top: 38px;
        margin-left: 7px;
    }

    .transport__text {
        width: 338px;
        height: 110px;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-left: 10px;
    }

    .transport__title {
        width: 340px;
        height: 108px;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 70px;
        padding-bottom: 18px;
    }

    .transport {
        width: 360px;
        margin-left: -8px;
        margin-bottom: 150px;
        height: 600px;
        margin-top: -8px;
    }

    .about__image img {
        width: 320px;
        height: 365px;
        padding-left: 7px;
        margin-top: -60px;
    }

    .about__info-text {
        padding-left: 10px;
    }

    .about__info-btn button {
        margin-left: 10px;
        margin-top: 40px;
        width: 315px;
    }

    .about {
        margin-left: -8px;
    }

    .about__info {
        width: 340px;
        margin-right: 0px;
    }



    .about__info-text {
        width: 330px;
        height: 180px;
        font-weight: 400;
        font-size: 18px;
        line-height: 41px;
        color: #272639;
    }

    .about__info-title {
        width: 305px;
        height: 136px;
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        color: #272639;
        margin-bottom: 30px;
        margin-left: 10px;
        padding-top: 48px;
    }

    .about__inner {
        display: block;
    }

    .service__box ul li {
        list-style: none;
        margin-bottom: 25px;
    }

    .service .container {
        width: 320px;
    }

    .service__inner-title {
        width: 310px;
        height: 74px;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        text-transform: uppercase;
        color: #272639;
        margin-left: 0px;
        margin-bottom: 35px;
    }

    .service__box ul {
        display: block;
    }

    .close img {
        width: 19px;
        height: 19px;
    }

    .close {
        display: block;
    }

    .basket .container {
        width: 330px;
    }

    .basket__info-total::before {
        content: 'Итого:';
        width: 46px;
        height: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        color: #646464;
        display: block;
        margin-bottom: 5px;
    }

    .basket__info-price::before {
        content: 'Цена:';
        width: 40px;
        height: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        color: #646464;
        display: block;
        margin-bottom: 5px;
    }

    .basket__info img {
        width: 80px;
        height: 62px;
        margin-right: 10px;
        padding-left: 5px;
        padding-top: 20px;
    }

    .trash {
        display: none;
    }

    .basket__form .basket__form-title {
        padding-top: 33px;
        padding-left: 0px;
    }

    .basket__form button {
        margin-left: 0px;
    }

    .basket__form div {
        padding-left: 0px;
    }

    .basket__form input {
        margin-left: 0px;
    }

    .basket__form {
        margin-left: 0px;
        width: 335px;
    }

    .basket__info-total {
        margin-right: 0px;
        width: 78px;
        height: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        color: #000000;
        position: absolute;
        right: 15px;
        top: 195px;
    }

    .basket__info-price {
        width: 68px;
        height: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        color: #000000;
        margin-right: 0px;
        position: absolute;
        left: 175px;
        top: 195px;
    }

    .basket__info-name {

        padding-top: 20px;
        line-height: 15px;
        margin-right: 0px;
        width: 148px;
        height: 30px;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
    }

    .basket__info li {
        width: 328px;
        height: 107px;
        background: #FAFAFA;
        border-radius: 5px;
    }

    .basket__info-name p {
        display: block;
        height: 0px;
        margin-top: 10px;
    }

    .basket__info {
        margin-left: -45px;
    }

    .basket__title {
        margin-top: 37px;
        margin-left: 85px;
    }

    .basket__price {
        display: none;
    }

    .basket__box {
        margin-left: 0px;
        display: block;
    }

    .contacts {
        margin-bottom: 350px;
    }

    .contacts .container {
        width: 360px;
    }

    .contacts__inner {
        width: 360px;
    }

    .contacts__form {
        width: 330px;
    }

    .contacts__form-title {
        padding-top: 40px;
        padding-left: 85px;
        margin-bottom: 60px;
    }

    .contacts__form-box div {
        margin-top: 50px;
    }

    .contacts__message {
        margin-left: -15px;
        margin-top: 50px;
    }

    .contacts__form-end input {
        padding-left: 35px;
        margin-left: -15px;
        max-width: 285px;
    }

    .contacts__form-end button {
        margin-top: 20px;
        margin-left: -15px;
    }

    .contacts__form-box {
        padding-left: 0px;
        display: block;
    }

    .contacts__info-social {
        margin-left: 10px;
    }

    .contacts__info-message {
        margin-left: 10px;
    }

    .contacts__info-map,
    .contacts__info-phone,
    .contacts__info-email {
        margin-left: 10px;
    }

    .contacts__title {
        margin-bottom: 50px;
        margin-left: 75px;
        margin-top: 30px;
    }

    .contacts__box {
        display: block;
    }

    .order__social-link ul {
        margin-left: 55px;
    }

    .order__social-text {
        margin-left: 0;
        width: 340px;
        height: 90px;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        color: #000000;

    }

    .order__box-text {
        margin-left: 0;
        width: 340px;
        height: 75px;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        color: #000000;
    }

    .order__box-img {
        margin-left: 125px;
    }

    .order {
        margin-left: -155px;
        margin-bottom: 50px;
    }

    .order__box-title {
        width: 306px;
        height: 47px;
        font-weight: 400;
        font-size: 32px;
        line-height: 147.69%;
        text-align: center;
        color: #000000;
        margin-left: 20px;

    }

    .footer__end {
        margin-left: 15px;
        margin-top: 20px;
    }

    .footer hr {
        width: 340px;
    }

    .footer__social-link {
        margin-top: -25px;
        margin-left: 135px;
    }

    .footer__social-title {
        display: none;
    }

    .footer__contacts {
        margin-top: -220px;
        margin-left: 160px;
    }

    .footer__menu-title {
        margin-left: 15px;
        margin-top: 40px;
    }

    .footer__menu-list ul {
        margin-left: -25px;
    }

    .footer__logo {
        padding-top: 49px;
        padding-left: 15px;
        font-size: 38px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }

    .footer {
        width: 343px;
        height: 453px;
    }

    .footer__content {
        display: block;
    }

    .header__order hr {
        display: none;
    }

    .header__icon {
        margin-top: 30px;
        margin-left: 0;
    }

    .header__logo {
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 24px;
        width: 179px;
        height: 30px;
        margin-left: 41px;
        margin-right: 37px;
    }

    .header__order {
        width: 343px;
        height: 78px;
        margin-bottom: 50px;
    }


    .header__menu {
        display: none;
    }

    .header__icon div {
        top: 20px;
        right: -5px;
    }
}